.landingPage {
    /* background-image: url('../assets/steamuserimages-a.akamaihd.jpg'); */
    height: 100vh;
    color: white;
    background-color: black;
    height: 30em;
}

.headerContainer {
    opacity: 0;
    background-image: url('../assets/steamuserimages-a.akamaihd.jpg');
    background-size: cover;
    width: 80%;
    max-width: 1000px;
    height: 400px;
    /* background: black; */
    position: relative;
    display: block;
    margin: 0 auto;
    top: 40%;
    text-align: center;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.headerContainer h1 {
    font-size: 6em;
    margin: 0;
  }

.headerContainer h1 span {
    color:red
}
.headerContainer p {
    font-size: 1.5em;
    margin-top: 20px;
    color: grey;
}

.headerContainer button {
    opacity: 0.7;
    font-size: 1.2em;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.headerContainer button:hover {
    transform: scale(1.1);
}


