i:hover {
    transform: scale(1.1);
  }

  .liked {
    color: red;
  }

  .fixed-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .createPostForm {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .input-field textarea {
    background-color: #fff;
    color: #000;
    height: 150px;
    padding: 10px;
  }
  
  .formActions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .btn {
    border-radius: 100px;
    background-color: rgb(23, 132, 132);
  }
  
  .btn waves-effect waves-light {
    background-color: rgb(23, 132, 132);
  }