/* @import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Foldit&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Foldit&family=Rubik+Wet+Paint&display=swap');

.head-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  /* font-family: 'Cinzel', serif;
  font-family: 'Foldit', cursive; */
  font-family: 'Cinzel', serif;
  font-family: 'Foldit', cursive;
  font-family: 'Rubik Wet Paint', cursive;
}

.head-container span {
  color: gold;
}
  
/* label color */
.input-field label {
  color: #fff; /* Change the color to a contrasting value */
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #fff; /* Change the color to a contrasting value */
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid gold !important; /* Change the color to a contrasting value */
  box-shadow: 0 1px 0 0 #fff; /* Change the color to a contrasting value */
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid gold !important; /* Change the color to a contrasting value */
  box-shadow: 0 1px 0 0 #fff; /* Change the color to a contrasting value */
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #fff; /* Change the color to a contrasting value */
  box-shadow: 0 1px 0 0 #fff; /* Change the color to a contrasting value */
}

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #fff; /* Change the color to a contrasting value */
  box-shadow: 0 1px 0 0 #fff; /* Change the color to a contrasting value */
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #fff; /* Change the color to a contrasting value */
}
