/* @import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Foldit&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Foldit&family=Rubik+Wet+Paint&display=swap');

.center-align {
  /* font-family: 'Cinzel', serif;
  font-family: 'Foldit', cursive; */
  font-family: 'Cinzel', serif;
  font-family: 'Foldit', cursive;
  font-family: 'Rubik Wet Paint', cursive;
}

